h1= @question.title
p= @question.body
p= link_to 'Delete question', question_path(@question), method: :delete if current_user&.is_author?(@question.user_id)

ul= render @question.answers

= render 'shared/errors', resource: @answer

p= render 'answers/form' if user_signed_in?
